@model IntroductionToAJAX.Models.HomeModel

<html>

    <head>
        <title>@Model.PageTitle</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="~/Styles/Home.css" rel="stylesheet" />
    </head>

    <body>
        <script src="~/Scripts/Home.js"></script>
        <div class="button1">Get Mock Response, No Data</div>
        <div class="button2">Get Message Based On ZIP Code</div>
        <div>ZIP Code</div>
        <input class="zip-code" type="text" />
    </body>

</html>